<div class="text-center mb-3">
  <h3>Posts</h3>
</div>
<% @posts.each do |post| %>
  <%= link_to post, class: 'list-group-item list-group-item-action d-flex gap-3 py-3', aria_current: 'true' do %>
    <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
    <div class="d-block gap-2 w-100">
      <div>
        <h6 class="mb-0"><%= post.title %></h6>
        <p class="mb-0 opacity-75"><%= post.body %></p>
        <div class="d-flex justify-content-between text-muted mt-3">
          <small>Author: <%= user_signed_in? ?  post.user.first_name + ' ' + post.user.last_name : 'Anonymous' %></small>
          <small>Posted On: <%= post.created_at.strftime("%A %-d %B, %Y") %></small>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
